@model VisitWro.Models.Event

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Event</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CategoryEvent)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CategoryEvent)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NameEvent)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NameEvent)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DescriptionEvent)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DescriptionEvent)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DateEvent)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DateEvent)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ImageEvent)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ImageEvent)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ThumbEvent)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ThumbEvent)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Website)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Website)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Removed)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Removed)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IsFavourite)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IsFavourite)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Address.Street)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Address.Street)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
